body {
    font-family: 'Inter', serif;
    background-color: #e0e0e0;
    background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);    /* background-image: url("/static/assets/bgdesign.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#typewriter {
    display: inline;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

header {
    /* background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%); */
    background: hsla(265, 53%, 29%, 1);
    color: #FCC7A4;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.upload {
    background: #FCC7A4;
}
.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsla(265, 53%, 29%, 1);
}

.drop-zone {
    border: 2px dashed hsla(265, 53%, 29%, 1);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.drop-zone:hover {
    background-color: hsla(265, 53%, 29%, 0.1);
}

.drop-zone.drag-over {
    background-color: hsla(265, 53%, 29%, 0.1);
}

#fileInput {
    display: none;
}

.file-list {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

#uploadButton {
    background-color: hsla(265, 53%, 29%, 1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#uploadButton img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 4px;
}

#uploadButton:hover {
    background-color: hsla(265, 53%, 39%, 1);
}

.upload-status {
    margin-top: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#submitButton {
    background-color: hsla(24, 93%, 73%, 1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

#submitButton:hover {
    background-color: hsla(24, 93%, 63%, 1);
}

.schedule-section {
    max-width: 60%;
    margin: 0 auto;
}

.schedule-time textarea {
    width: 40%;
}

.button-container {
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.tasks-container {
    width: 60%; /* Adjust the width as needed */
    margin: 20px auto; /* Add some margin to the top and bottom */
    background-color: #FCC7A4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tasks-schedule-section, .tasks-general-parameters, .tasks-task-list {
    margin: 20px 0;
}

.tasks-schedule-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tasks-schedule-time textarea, .tasks-schedule-time select {
    width: 45%; /* Adjust the width as needed */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tasks-button-container {
    text-align: center;
    margin-top: 20px;
}

.tasks-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: hsla(24, 93%, 73%, 1);
    color: white;
    border: none;
    border-radius: 4px;
}

.tasks-button-container button:hover {
    background-color: hsla(24, 93%, 63%, 1);
}

.tasks-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.task-item {
    border: 1px solid #ccc;
    font-size: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary-content {
    text-align: center;
    font-size: 14px;
}
.download-button-container {
    text-align: center;
    margin-top: 20px;
}

.download-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: hsla(24, 93%, 73%, 1);
    color: white;
    border: none;
    border-radius: 4px;
}

.download-button-container button:hover {
    background-color: hsla(24, 93%, 63%, 1);
}
